<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheet/dashboard.css">
</head>

<body>
<div style="background-color:white; max-width:85%; margin: 0 auto;">
<table width="100%">
<tr class="header">
    <td class="logo">
		<img src="images/logo.png" alt="Image not loaded"/><br/>Buckets
	</td>
    <td width="65%" align="center"></td>
    <td width="15%" ><span style="margin:2%">{{user.username}} </span><a href="/logout">Logout</a></td>
</tr>
</table>
<div class="container" style="width:100%; margin:0%">
	<div class="newicon" style="float:right; margin:1%">
		<span id="newPost"><img src="images/new_post.png" alt="Image not loaded"/></span>
		<span id="newBucket"><img src="images/new_bucket.png" alt="Image not loaded"/></span>
	</div>
	<div id="myModalNew" class="modal">
		<form method="post" action="/createPost">
		<div class="modal-content-text" id="modal-content-text">
			  <span id ="close" class="postclose">X</span>
			  <div class="modal_content">
					<textarea id="postText" name="postText" cols="40" rows="5" style="width:100%; padding:10px 10px;" maxlength="160" onkeyup="countChar(this)" placeholder="Let the world know something!"></textarea>
					</br>
					<span>Characters left:</span><span id="charNum">160</span></br></br>
					<input type="file" name="fileToUpload" id="fileToUpload" accept="image/*"></br></br>
					<input type="checkbox">Stay Incognito</input></br>
					<input type="checkbox" id="deadline" value="deadline">Deadline</input>
					<div class="dateTimePicker" id="dateTimePicker">
						<table>
							<tr>
								<td><span>Start Time : </span></td>
								<td><input type="datetime-local" id="" name="startDateTime"></input></td>
							</tr>
							<tr>
								<td><span>End Time : </span></td>
								<td><input type="datetime-local" id="" name="endDateTime"></input></td>
							</tr>
						</table>
					</div>
			  </div>
			  <div id="tags" name="tags"></div>
			  <button id="submit" type="submit" class="btn btn-default">Submit</button>
		</div>
		</form>
	</div>
	<div id="form_wrapper" class="modal">
    <form method="post" action="/addBucket">
        <div class="modal-content-text">
			<span id ="close" class="bucketclose">X</span>
            <input type="text" class="form-control" id="bucketTag" name="bucketTag" placeholder="Enter tag for bucket">
			<button name="submit" class="btn btn-default">Submit</button>
        </div>
        
    </form>
	</div>
</div>
<div class="container">
	{{#each bucketList}}
		<div id="buckets">
			<div class="wrap">
				<div class="drop-outer">
					<svg class="drop" viewBox="0 0 40 40" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
						<circle cx="20" cy="20" r="20"/>
					</svg>
				</div>
				<div class="ripple ripple-1">
					<svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
						<circle cx="30" cy="30" r="20"/>
					</svg>
				</div>
				<div class="ripple ripple-2">
					<svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
						<circle cx="30" cy="30" r="20"/>
					</svg>
				</div>
				<div class="ripple ripple-3">
					<svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
						<circle cx="30" cy="30" r="15"/>
					</svg>
				</div>
			</div>
			<center><h4><b>{{@key}}</b></h4></center>
			<center>
				{{#each this}}
					{{this.username}} posted: {{this.postText}} @ {{this.postTime}}
					<br/>----------------------------------------<br/>
				{{/each}}
			
		</div>
	{{/each}}
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="javascripts/script.js"></script>
</div>
</center>
</body>
</html>
