<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheet/dashboard.css">
</head>

<body>
<table width="100%">
<tr class="header">
    <td class="logo">
		<img src="images/logo.png" alt="Image not loaded"/><br/>Buckets
	</td>
    <td width="65%" align="center"></td>
    <td width="15%" >{{user.username}}<a href="/logout">Logout</a></td>
</tr>
</table>
<div class="container">
	<div class="newicon" style="float:right" width="25%">
		<img src="images/new_post.png" alt="Image not loaded"/>
		<a href class="show_form"><img src="images/new_bucket.png" alt="Image not loaded"/></a>
	</div>
    <div class="controls">
        <p><a href="/createPost">New Post</a></p>
    </div>
	<div id="form_wrapper">
    <form method="post" action="/addBucket">
        <div class="form-group">
            <label for="tag">New Bucket</label>
            <input type="text" class="form-control" id="bucketTag" name="bucketTag" placeholder="Enter tag for bucket">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
	</div>
	
 </div>
<div class="container">
	{{#each bucketList}}
		<div id="buckets">
			<div class="wrap">
				<div class="drop-outer">
					<svg class="drop" viewBox="0 0 40 40" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
						<circle cx="20" cy="20" r="20"/>
					</svg>
				</div>
				<div class="ripple ripple-1">
					<svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
						<circle cx="30" cy="30" r="20"/>
					</svg>
				</div>
				<div class="ripple ripple-2">
					<svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
						<circle cx="30" cy="30" r="20"/>
					</svg>
				</div>
				<div class="ripple ripple-3">
					<svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
						xmlns="http://www.w3.org/2000/svg">
						<circle cx="30" cy="30" r="15"/>
					</svg>
				</div>
			</div>
			<center><h4><b>{{@key}}</b></h4></center>
			<center>
				{{#each this}}
					{{this.username}} posted: {{this.postText}} @ {{this.postTime}}<br/>----------------------------------------<br/>
				{{/each}}
			</center>
		</div>
	{{/each}}
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>
